@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  padding: 0;
  box-sizing: border-box !important;
  list-style-type: none !important;
  text-decoration: none !important;
  /* border: 1px solid red; */
  text-decoration: none;
  font-family: "Inter", serif;
  margin: 0 !important;
  
}


.home{
  min-height: 400px;
  
}

.sign{
  min-height: 100vh;
}

.img-side {
  /* background-color: #000; */
  overflow: hidden !important;
  object-fit: contain;
  height: 100vh;
}

.img-side img {
  object-fit: cover;
  width: 100% !important;
  height: fit-content;
  height: 100%;
}

p,small {
    margin: 0 !important;
    padding: 0 !important;
}



small {
    font-size: 12px !important;
}

p {
    font-size: 14.8px !important;
}

body{
    color: hsl(213, 96%, 18%) !important;
}

.color {
    color: #0656B2;
}

.color-bg{
    background-color: #EEF3F9;
}

.main{
    background-color: #f1f1f1;
}


.input::placeholder{
    color: hsl(213, 96%, 18%) !important;
}

.input-field{
    position: relative;
}

.error{
    position: absolute;
    top:6px;
    right: 0;
    color: red;
    font-weight: bold;
}
.input-field input{
    padding: 9px 0.8rem;
    display: block;
    width: 100% !important;
    border: 1px solid #ccc;
    border-radius: 4px !important;
    outline: none !important;
    font-size:  13px !important;
    color: hsl(213, 96%, 18%);  
}

input.check{
    padding: 0px !important;
}

label{
    font-size: 13px;
}

button{
    border: none;
    outline: none;
    font-size: 14px !important;
    /* padding: 4px 14px; */
    display: block;
    font-size: 13px !important;
    transition: all 300ms ease-in-out;
}

option{
    font-size: small !important;
    color: #333;
}

button:hover{
    background-color: #ffffff !important;
    color: black !important;
    border: 1px solid #ccc;

}


.main {
    min-height: 100vh;
    
}


.form-container {
    width: 490px;
    max-width: 100%;
    min-height: 540px;
    position: relative;
    background-color: #ffffff;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.each {
    height: 5px;
    background-color: #EEF3F9;
}

.each.active{
    background-color: blue;

}

.so-form {
    max-width: 100%;
}

/* Style the select dropdown */
.so-form select {
    width: 100%;
    padding: 9px 0.8rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    
    
    
    color: #333; /* Text color */
    font-size: 14px;
    outline: none !important;
    cursor: pointer;
  }
  
  /* Style the options */
  option {
    color: black;
    font-size: 14px;
    background: white;
    padding: 5px;
  }
  
  /* Change background color when hovering over options (only works in some browsers) */
  option:hover {
    background-color: #f0f0f0;
  }
  
  /* When an option is selected */
  select:focus {
    outline: none;
    /* border-color: blue; */
    box-shadow: 0 0 1px rgba(93, 93, 124, 0.5);
  }
  
  /* Custom styles when the select dropdown is disabled */
  select:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed;
  }
  


label{
    font-size: small !important;
}

.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}




.cta{
    position: absolute;
    left: 1.6rem;
    bottom: 1rem;
    width: calc(100% - 3rem);
    /* width: 0%; */
}



/* Absolute Center Spinner */
.load-c{
    width: 100%;
    height: 100%;
    /* position: fixed; */
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
}

.loading {
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0%;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
  position: absolute;
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  }
  
  /* Animation */
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .form-side{
    position: relative;
  }



  @media (max-width: 768px){
    .form-side{
      /* position: fixed !important; */
      top: 4rem;
      margin: 0 auto;
    }

    
  }